// Custom Variables
@import "../_scss/customVariables";

// Required
@import "../_bootstrap/scss/functions";
@import "../_bootstrap/scss/variables";
@import "../_bootstrap/scss/mixins";
@import "../_bootstrap/scss/reboot";
@import "../_bootstrap/scss/type";
@import "../_bootstrap/scss/grid";
@import "../_bootstrap/scss/utilities";

// Components
@import "../_bootstrap/scss/buttons";
@import "../_bootstrap/scss/forms";
@import "../_bootstrap/scss/card";

// Single
// ----------- #Global-----------
html,
body {
    height: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #111;
}

a:hover {
    opacity: 0.85;
}